.game{
    width: 100%;
    height: calc(90vh / var(--unit));
    display: flex;
    position: relative;
}
.backform{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
.popup{
    text-align: center;
    width: calc(50vh / var(--unit)); 
    height: calc(30vh / var(--unit)); 
    font-size: calc(3vh / var(--unit));

    background-color:rgb(93, 105, 145);
    color: rgb(255, 115, 115);
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #000;
}
.popup button{
    font-size: calc(3vh / var(--unit));
    width: calc(25vh / var(--unit)); 
    height: calc(8vh / var(--unit)); 
    color: #fff;
    border-radius: 15px;
    background-color:rgb(93, 105, 145);
}
.wait{
    width: calc(40vh / var(--unit)); 
    height: calc(2vh / var(--unit)); 
    border-radius: 5px;
    clip-path:inset(0px);
  }
  .waitmove{
    width: 1000px; 
    height: calc(3vh / var(--unit)); 
    background: repeating-linear-gradient(45deg, 
    rgb(247, 247, 247) ,
    rgb(247, 247, 247) 15px,
    rgb(163, 200, 236) 15px,
    rgb(163, 200, 236) 30px,
    rgb(247, 247, 247) 30px
    );
    animation: movespin 15s linear infinite;
  }
  @keyframes movespin{
    0%{
          transform: translateX(calc(40vh / var(--unit) - 1000px));
      }
    50%{
          transform: translateX(0px);
      }
    100%{
        transform: translateX(calc(40vh / var(--unit) - 1000px));
    }
}